body {
    text-align: center;
    font-family: Verdana, sans-serif; 
    font-size: 1.4em; 
}
.container{
    display: block; 
    margin: 20px auto;
    border-radius: 20px; 
    background: linear-gradient(135deg, #ffcc00, #FFE434, #8DF73A);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
p {
    text-align: justify;
    margin: 0 auto;
    width: 80%;
}
.image-container {
    display: center;
    position: relative;
}
.image-container img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 600px;
    transition: transform 0.3s ease; 
}
.image-container img:hover {
    transform: translate3d(0, 0, 10px);
}