/* Import the font styles */
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Jeju+Gothic&display=swap');

/* Basic body styling */
body {
  font-family: 'Jeju Gothic', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

main {
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
}

/* Header styling */
header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #3366ff;
  background-color: yellow;
  border-bottom: 8px solid #3366ff;
  padding: 20px 0;

}

.logo-text {
  margin-left: 10px; 
  width: 300px;
}

.logo-text strong {
  font-size: 1.6em; 
}

.korean {
  font-weight: bold; 
  font-size: 1.1em; 
}

.header-content {
  display: flex;
  align-items: center;
  font-size: 20px;
  /* Aligns items vertically center */
  justify-content: space-between;
  /* Spreads the content: logo on one side, nav on the other */
  padding: 0 10px;
  /* Horizontal padding */
}

.navbar-light .navbar-nav .nav-link {
  justify-content: flex-end;
}

nav {
  width: 100%;
  color: #3366ff;
  font-family: 'Jockey One', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-right: 50px;
}

nav ul li a {
  color: #3366ff;
  text-decoration: none;
  font-size: 20px;
}



#site-logo {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: 65px;
}


header p {
  margin: 5px 0;
}


/* Footer styling */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
  background: #3366ff;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
   border-top: 5px solid black;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  flex: 1;
  padding: 0 20px;

}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column ul li a {
  text-decoration: none;
  color: white;

}



footer {
  margin-left: 0;
}

#footer-logo {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

#footer-logo img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.restaurant-name {
  font-size: 18px;
  font-weight: bold;
}


@media (max-width: 575.98px) {
  .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}